/* Header CSS */
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');
*{
  font-family: 'Mooli', sans-serif;
}
.colNav{
    background-color: black;
}
.navLink{
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large ;
    position: relative;
   margin-left: 10px;
   margin-right: 10px;

}
.navLinkbtn{
    color: #ED117F;
    font-family:Arial, Helvetica, sans-serif;
    font-size:larger;
    position: relative;
   margin-left: 10px;
   margin-right: 10px;

}
.navLinkbtn:hover{
     color: #ED117F;
}
.navLink:hover{
    color: #4DA3DF ;
}

.navLink:before
{  
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    bottom: 0;
    margin: -5px 0;
   
    background-color:#ED117F; /*Follow your text color*/
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}
.navLink:hover:before{
    visibility: visible;
    transform: scaleX(1);
}
.logoWrapper{
    width: 100px;
    text-align: center;
}
.logoWrapper >img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* App CSS */

.colored-circle {
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -2px;
    border-radius: 50%;
    border-style: solid;
    border-width: 0.5px;
    border-color: black;
    height: 20px;
    width: 20px;
  }
.trackBtn{
    background-color: #ED117F !important;
    border-width: 0px;
    float: right;
    border-radius:10px!important;
}
.nextBtn{
    background-color: #ED117F !important;
    border-width: 0px;
    float: left;
    border-radius:10px!important;
}
.titlerequest{
    color: #ED117F;
    padding-top: 5px;
    padding-bottom: 15px;
    text-align: center;
}

.required {
    color: red; /* Or any other color you prefer */
    margin-left: 3px; /* Adjust the spacing as needed */
  }
  




.start{
    margin-bottom: 40px;
}

.button-wrapper{
    align-items: center;
    justify-content: center;
    text-align: center;
}


/* footer css */
.footLi{  
    color:white;
    font-size: large;
    margin-right: 30px;
    margin-left: 60px;
}
.footLi>li{  
   margin-top: 10px;
}

.footLi>li:hover{  
    color:#e43e91;
    cursor: pointer;
 }
.footerMain{
    
    padding-top: 10px;
    padding-bottom: 10px;
    background-color:#4DA3DF;
    /* background: linear-gradient(90deg, rgba(92,27,156,1) 0%, rgba(131,59,197,1) 56%, rgba(125,90,229,1) 100%, rgba(12,132,156,1) 100%); */
}
.footerEnd{
    text-align: center;
    background-color: white;
}

.footerEndTxt{
    font-weight: 600; 
    padding-top: 10px;   
}
.footerTop{
     text-align: center;
}
.footerTopItem>img{
    padding-top: 10px;
    padding-bottom: 10px;
      width: 200px;
}

/* MetaMaskNotInstalled.css */

.container {
    text-align: center;
    padding-top: 20px; /* Adjust the spacing as needed */
  }
  
  .image {
    width: 100px; /* Adjust the image size as needed */
  }
  
  .heading {
    font-size: 24px;
    font-weight: bold;
  }
  
  .paragraph {
    font-size: 16px;
  }
  

  /* Signup.css */

.signup-container {
    display: flex;
    height: 75%;
    overflow: hidden;
    background-color: #ece8e8;
    border-color: pink;
    padding: 5em;
    padding-bottom: 5em;
  }
  
  .signup-left {
    flex: 1;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .signup-image {
    width: 100%;
    height: 100%;
  }
  
  .signup-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .signup-toggle {
    display: flex;
    margin-bottom: 20px;
  }
  
  .toggle-button {
    flex: 1;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  
  .toggle-button.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .login-form,
  .register-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
  }

  .float-left{
    float: left;
    cursor: pointer;
  }
  .float-right{
    float: right;
    cursor: pointer;
  }
  .primary{
   background-color: #007bff !important;
   border: none !important;
  }
  .success{
    background-color: #e43e91 !important;
    border: none !important;
  }

  .card-wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    
  }

  .desc{
    display: flex;
      flex-direction: column;
      align-items: center;
      justify-content:center;
      padding: 2em;
      font-size: 2em;
  }

  .dropzone {
    border: 2px dashed #007bff; /* Border color for the dropzone */
    border-radius: 4px;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa; /* Background color for the dropzone */
    cursor: pointer;
  }
  
  /* Text inside the dropzone */
  .dropzone p {
    font-size: 16px;
    color: #333; /* Text color */
    margin: 0;
    padding: 10px;
  }
  
  /* Highlight when dragging over the dropzone */
  .dropzone:hover {
    border-color: #0056b3; /* Border color on hover */
    background-color: #f0f0f0; /* Background color on hover */
  }




  /* About Us CSS */

  .about-us{
    text-align: left;
  }



  /* PrivacyPolicy.css */

/* Add more styles as needed */
.colorNav{
  background-color: white;
}
.logoWrapper >img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.login-template{
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  max-width: 90%;
  border-style:solid;
  border-color: rgb(68, 194, 87);;
}

.popup-form{
  padding: 50px;
  
}
.cart-link {
  display: flex;
  align-items: center;
}

.cart-count {
  background-color: green;
  color: white;
  font-size: 0.75rem;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 4px;
  vertical-align: super; 
}

.heading{
  margin-bottom: 20px;
}

.floatRightBtn{
  float: right;
  margin-right: 5px;
}
.topspace{
  margin-top: 10px;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.center-img{
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapped-img{
  width: 18rem;
  height: 180px;
  margin-top: 10px;
  object-fit: contain;
  align-items: center;
  text-align: center;
}
.wrapped-img-order{
  width: 100%;
  height: 180px;
  margin-top: 10px;
  object-fit: contain;
  align-items: center;
  text-align: center;
}
.wrapper{
  width: 100px;
  height: 150px;
}

.user-name{
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  margin-right: 15px;
  cursor: pointer;
}

.filter-order{
  background-color:rgb(17, 183, 130);
  text-align: center;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 30px;
}